page-start {
  h2 {
    margin-bottom: 50px !important;
    font-size: 9vw;
    color: color($colors, primary);
  }
  h3 {
    font-size: 4vw;
    padding: 20px;
    margin-top: -35px;
    background: color($colors, primary);
    color: white;
  }
  img {
    margin-bottom: 50px;
  }
  .swiper-pagination-bullet-active {
    width: 10px;
    height: 10px;
    vertical-align: middle;
    background: color($colors, primary) !important;
  }
  .swiper-pagination-bullet {
    border-radius: 10px;
    background: color($colors, gray);
  }
  .swiper-slide-prev {
    opacity: 0 !important;
  }
  .swiper-slide {
    opacity: 0 !important;
  }
  .swiper-slide-active {
    opacity: 1 !important;
  }

  .slide {
    position: absolute;
    height: 80%;
    top: 10%;
    width: 100%;
  }
}
